export SLACK_WEBHOOK_URL={{ onepasswordRead "op://Private/liiilwdlwpn5bsanstmrarsozq/credential" | quote }}
export MISE_GITHUB_TOKEN={{ onepasswordRead "op://Private/2d2mux7yhbx57vaklhudb4uv5e/token" | quote }}
