[user]
	email = rn.gjt25@gmail.com
	name = Ryoh827
[push]
	autoSetupRemote = true
[core]
	editor = nvim

[tig "bind"]
  diff = F ?!git commit --fixup %(commit)
  diff = S ?!git commit --squash %(commit)
  main = F ?!git commit --fixup %(commit)
  main = S ?!git commit --squash %(commit)

[alias]
  br = branch
  sh = switch
  shm = !git sh $(git main-branch)
  main-branch = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'

