[user]
	email = ryoh827.dev@gmail.com
	name  = ryoh827
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHpgV+kesPULhxU3xxQ5MSZW2m7CCElO2gm6AvwPfFJ7

[push]
	autoSetupRemote = true

[core]
	editor      = nvim
  ignorecase  = false
  pager       = delta

[delta]
  navigate     = true
  dark         = true
  algorithm    = histogram
  submodule    = log
  side-by-side = true
  line-numbers = true

[interactive]
    diffFilter = delta --color-only

[tig "bind"]
  diff = F ?!git commit --fixup %(commit)
  diff = S ?!git commit --squash %(commit)
  main = F ?!git commit --fixup %(commit)
  main = S ?!git commit --squash %(commit)

[alias]
  br  = branch
  sh  = switch
  c   = commit
  co  = checkout
  dc  = !git c -m $(date +%Y-%m-%d %H:%M:%S)
  a   = add
  shm = !git sh $(git mb)
  mb  = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  rom = !git rebase $(git mb)
  ram = !git rebase -i --autosquash $(git mb)
  ra  = !git rebase -i --autosquash
  f   = fetch
  d   = diff
  pl  = pull
  p   = push
  pr  = !git push && gh pr create -w
  st  = stash
  s   = status
  nb  = !git sh -c "$(date +%Y%m%d_%H%M%S)"

[ghq]
	root = ~/go/src
	root = ~/ghq

[merge]
  conflictstyle = zdiff3

[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
