[user]
	email = rn.gjt25@gmail.com
	name = ryoh827
[push]
	autoSetupRemote = true
[core]
	editor = nvim
  ignorecase = false
[diff]
  algorithm = histogram
  submodule = log
[tig "bind"]
  diff = F ?!git commit --fixup %(commit)
  diff = S ?!git commit --squash %(commit)
  main = F ?!git commit --fixup %(commit)
  main = S ?!git commit --squash %(commit)
[alias]
  br = branch
  sh = switch
  shm = !git sh $(git mb)
  mb = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  rom = !git rebase $(git mb)
  ram = !git rebase -i --autosquash $(git mb)
  ra = !git rebase -i --autosquash
  f = fetch
  d = diff
  pl = pull
  p = push

